var filterTime = function(daily){
    //获取date对象
    var date = getDate(parseInt(daily));
    return date.toDateString().split(" ")
}
var filterDate = function(dateStr){
    var date = getDate(dateStr);
    return date.getDate()
}
module.exports = {
    filterTime:filterTime,
    filterDate:filterDate
}